name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'pnpm'
    - uses: pnpm/action-setup@v4
    - name: Install dependencies
      run: pnpm install --no-frozen-lockfile
    - name: Run unit tests
      run: pnpm test
    - name: Install Playwright browsers
      run: npx playwright install --with-deps
    - name: Build application
      run: pnpm build
    - name: Run Playwright tests
      run: pnpm playwright test
    - name: Upload Playwright test results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 5